<div class="encabezado">
    <h6> Marcos Gavilan</h6>
    <img src="https://1drv.ms/i/s!Ai--QhDTe7mQgug5V6IWO8cW0YJS5w?e=3H7QP2" alt="">
  
  <div>
    <nav>
        <ul class="menu"> 
            <li><a href="https://www.linkedin.com/in/marcosngavilan/"><img src="https://play-lh.googleusercontent.com/kMofEFLjobZy_bCuaiDogzBcUT-dz3BBbOrIEjJ-hqOabjK8ieuevGe6wlTD15QzOqw=w240-h480-rw" alt="" width="40em" height="40em"> </a></li>   
            <li><a href=""><img src="" alt=""></a></li>
            <li><a href=""> <img src="" alt=""></a></li>
            <li><a href="">Contacto</a></li>
            <li><button type="button" class="btn btn-outline-primary">Iniciar sesion</button></li>
        </ul>
    </nav>
  </div>
</div>