<div class="row">
    <span> 
            <button id="editar"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l6 0"></path>
                <path d="M12 9l0 6"></path>
            </svg>
        </button>
            <h3> Hard & Soft Skills</h3>
    </span>
        <div *ngFor="let habilidad of hardSkills"> 
           <button id="editar">Eliminar </button>
                <h5 class="tecnologia">{{habilidad.tecnologia}}</h5>
                <div class="progress">
                    <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{'width.%': habilidad.progreso}" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
       
        </div>    
</div>